<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <ng-container *ngTemplateOutlet="renderGroup; context:{ group: form }"></ng-container>

  <button type="submit">Save</button>
</form>

<ng-template #renderGroup let-group="group">
  <!-- Every group must have [formGroup] -->
  <div [formGroup]="group">

    <div *ngFor="let item of group.controls | keyvalue">

      <!-- FormGroup -->
      <div *ngIf="safeIsFormGroup(item.value)">
        <label><b>{{ item.key }}</b></label>
        <ng-container *ngTemplateOutlet="renderGroup; context:{ group: safeAsFormGroup(item.value) }"></ng-container>
      </div>

      <!-- FormArray -->
      <div *ngIf="safeIsFormArray(item.value)">
        <label><b>{{ item.key }}</b></label>
        <div formArrayName="{{ castKey(item.key) }}">
          <div *ngFor="let ctrl of safeAsFormArray(item.value).controls; let i=index">
            
            <!-- If array item is object -->
            <div *ngIf="safeIsFormGroup(ctrl)" [formGroupName]="i">
              <ng-container *ngTemplateOutlet="renderGroup; context:{ group: safeAsFormGroup(ctrl) }"></ng-container>
            </div>

            <!-- If array item is primitive -->
            <div *ngIf="!safeIsFormGroup(ctrl)">
              <input [formControlName]="i" />
            </div>
          </div>
        </div>
      </div>

      <!-- Primitive -->
      <div *ngIf="!(safeIsFormGroup(item.value) || safeIsFormArray(item.value))">
        <label>{{ item.key }}</label>
        <input [formControlName]="castKey(item.key)" />
      </div>

    </div>
  </div>
</ng-template>
